@{
    ViewData["Title"] = "Home Page";
}


<div id="chat-hub">
    <div class="row margin-top-10" data-bind="visible: !hasUsername()">
        <input type="text" class="form-control" data-bind="value: username" placeholder="Username" />
        <button data-bind="click: selectUsername" class="btn btn-primary margin-top-10">Submit</button>
    </div>
    <div class="row margin-top-10" data-bind="visible: hasUsername()">
        <h3>Hello, <span data-bind="text: username()"></span></h3>
    </div>
    <div class="row margin-top-40" data-bind="visible: hasUsername()">
        <div class="col-md-6">
            <div data-bind="visible: isLoading()">
                <img src="~/images/loading.gif" /> Loading...
            </div>
            <div data-bind="foreach: messages" class="height-200">
                <div>
                    <span data-bind="text: FromUser"></span> : <span data-bind="text: Text"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div data-bind="foreach: users"><div><a href="#" data-bind="text: Item2, click: $parent.openChatWindow"></a></div></div>
        </div>
    </div>
    <div class="row" data-bind="visible: hasUsername() && !isLoading()">
        <form data-bind="submit: sendMessage">
            <input type="text" class="form-control" placeholder="Message" data-bind="value: message" />
            <button type="submit" class="btn btn-primary margin-top-10">Submit</button>
        </form>
    </div>



    <div class="row chat-window col-xs-5 col-md-3" data-bind="foreach: privateMessages" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> <span data-bind="text: username"></span></h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#" data-bind="click: $parent.closeChatWindow"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base" data-bind="foreach: messages">
                    <div class="row msg_container" data-bind="attr : { class : isSelf() ? 'row msg_container base_sent' : 'row msg_container base_receive' }" >
                        <!-- ko if: !isSelf() -->
                            <div class="col-md-2 col-xs-2 avatar">
                                <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive">
                            </div>
                        <!-- /ko -->
                        <div class="col-md-10 col-xs-10">
                            <div class="messages" data-bind="attr : { class : isSelf() ? 'messages msg_sent' : 'messages msg_receive' }">
                                <p data-bind="text: text()">
                                    
                                </p>
                                <time data-bind="text: from()"></time>
                            </div>
                        </div>
                        <!-- ko if: isSelf() -->
                            <div class="col-md-2 col-xs-2 avatar">
                                <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive">
                            </div>
                        <!-- /ko -->
                    </div>
                    @*<div class="row msg_container base_receive">
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <div class="messages msg_receive">
                                <p>
                                    that mongodb thing looks good, huh?
                                    tiny master db, and huge document store
                                </p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                    </div>*@

                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <form data-bind="submit: $parent.sendPrivateMessage">
                            <input id="btn-input" type="text" data-bind="value: newMessage" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
        </ul>
    </div>

</div>






