@{
    ViewData["Title"] = "Home Page";
}


<div id="chat-hub">
    <h3 class="text-center">
        Welcome<span data-bind="visible: !isConnected()">! Please connect</span>
        <span data-bind="visible: isConnected(), text: username()"> </span>
    </h3>
    <div class="row margin-top-10" data-bind="visible: !isConnected()">
        <form data-bind="submit: selectUsername" class="col-md-12 form-inline text-center">
            <div class="input-group">
                <input type="text" class="form-control" data-bind="value: username" placeholder="Enter Username" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit">SUBMIT</button>
                </span>
            </div>
        </form>
    </div>

    <div class="row " style="padding-top:40px;">
        <br /><br />
        <div class="col-md-8 col-xs-6">
            <div class="panel panel-info">

                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div data-bind="visible: isLoading()">
                    <img src="~/images/loading.gif" /> Connecting...
                </div>
                <div class="panel-body chat-body">
                    <ul class="media-list" data-bind="foreach: messages">
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="~/images/user.png" />
                                    </a>
                                    <div class="media-body">
                                        <div data-bind="text: Text"></div>
                                        <small class="text-muted" data-bind="text: FromUser"></small>
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form data-bind="submit: sendMessage">
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="value: message, enable: isConnected()" placeholder="Enter Message" />
                            <span class="input-group-btn">
                                <button class="btn btn-info" data-bind="enable: isConnected()" type="submit">SEND</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div data-bind="visible: isLoading()">
                    <img src="~/images/loading.gif" /> Connecting...
                </div>
                <div class="panel-body chat-body">
                    <ul class="media-list" data-bind="foreach: users">
                        <li class="media">
                            <div class="media-body">
                                <div class="media" data-bind="click: $parent.openChatWindow">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="~/images/user.gif" />
                                    </a>
                                    <div class="media-body">
                                        <h5 data-bind="text: username">Jhon Rexa</h5>
                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="row chat-window col-md-12" data-bind="foreach: privateMessages" style="margin-left:10px;">
        <div class="col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> <span data-bind="text: username"></span></h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#" data-bind="click: $parent.closeChatWindow"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base" data-bind="foreach: messages">
                    <div class="row msg_container" data-bind="attr : { class : isSelf() ? 'row msg_container base_sent' : 'row msg_container base_receive' }">
                        <!-- ko if: !isSelf() -->
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive">
                        </div>
                        <!-- /ko -->
                        <div class="col-md-10 col-xs-10">
                            <div class="messages" data-bind="attr : { class : isSelf() ? 'messages msg_sent' : 'messages msg_receive' }">
                                <p data-bind="text: text()">

                                </p>
                                <time data-bind="text: from()"></time>
                            </div>
                        </div>
                        <!-- ko if: isSelf() -->
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class="img-responsive">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <form data-bind="submit: $parent.sendPrivateMessage">
                            <input id="btn-input" type="text" data-bind="value: newMessage" class="form-control input-sm chat_input chat-pvt-message-input" placeholder="Write your message here..." />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info btn-sm" id="btn-chat">Send</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
        </ul>
    </div>

</div>






